<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="logviewer_plugin.ViewPart1"
            id="LogViewer Plugin.view1"
            name="LogViewer"
            restorable="true">
      </view>
   </extension>

</plugin>
